html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: system-ui, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
h1 {
    margin: 1em 0 0.5em 0;
    font-size: 2rem;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  margin-bottom: 1em;
}

header label {
  display: grid;
  grid-template-columns: auto 1fr auto;
  justify-items: start;
  align-items: center;
  gap: 0.5em;
  font-size: 0.9em;
}

header time,
header em {
  display: block;
}

header time {
  display: block;
  text-align: right;
}
  
#map {
    position: relative;
    width: 80vw;
    height: 80vh;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

  
#map svg {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    pointer-events: none;
}

#map svg circle {
    pointer-events: auto;
    --color-departures: steelblue;
    --color-arrivals: darkorange;
    --color: color-mix(
        in oklch,
        var(--color-departures) calc(100% * var(--departure-ratio)),
        var(--color-arrivals)
    );
    fill: var(--color);
}

.legend {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-block: 1.5em;
    font-size: 0.9em;
    width: 80vw;
  }
  
.legend > div {
    display: flex;
    align-items: center;
    gap: 0.4em;
}

.legend > div::before {
    content: "";
    display: inline-block;
    width: 0.9em;
    height: 0.9em;
    border-radius: 50%;
    background-color: var(--color);
    --color-departures: steelblue;
    --color-arrivals: darkorange;
    --color: color-mix(
        in oklch,
        var(--color-departures) calc(100% * var(--departure-ratio)),
        var(--color-arrivals)
    );
}

.legend > div:first-child {
  text-align: left;
}

.legend > div:nth-child(2) {
  text-align: center;
}

.legend > div:last-child {
  text-align: right;
}