body {
    font: 100%/1.5 system-ui, sans-serif;
    display: flex;
    flex-flow: column;
    max-width: 80em;
    min-height: 100vh;
    box-sizing: border-box;
    margin: auto;
    padding: 1em;
  }

header {
  display: flex;
  gap: 1em;
  align-items: baseline;
  width: 80vw;
  margin: 0 auto;
}

header label {
  margin-left: auto;
}

header time,
header em {
  display: block;
  text-align: right;
}
#selected-time,
#any-time {
  display: block;
  font-size: 0.9em;
}

#any-time {
  font-style: italic;
  color: #666;
}